<div class="uk-container  uk-margin-large-top uk-margin-large-bottom">
  <div class="uk-grid-large uk-flex-middle" uk-grid>


    <!-- Right Column: Interactive Map -->
    <!-- Right Column: Interactive Map -->
    <div class="uk-width-1-2@m">
      <!-- Instruction Badge Above -->
      <div class="uk-flex uk-flex-right@m uk-flex-center uk-margin-small-bottom">
        <span style="background-color: #022561" class="uk-badge uk-padding-small uk-flex uk-flex-middle">
          <span uk-icon="icon: search; ratio: 0.8" class="uk-margin-small-right"></span>
          Hover image to zoom
        </span>
      </div>

      <!-- Rounded Image Container -->
      <div style="border-radius: 20px" class=" uk-overflow-hidden uk-width-1-1">
        <ng-magnizoom zoomMode="LENS" [maxZoomFactor]="5" [zoomFactor]="4" imageSrc="img/telcables-europe-mapa+bg.png">
        </ng-magnizoom>
      </div>
    </div>

    <!-- Left Column: Content -->
    <div class="uk-width-1-2@m uk-text-center uk-text-left@m">
      <p class="tag1">Neutral | Connected | Global</p>

      <h1 class="title1">
        From Lisbon, Europe’s front door to the Atlantic, we accelerate your business with unmatched scale and reach.
      </h1>

      <p class="tag1">Submarine | Metro | Cloud</p>

      <a> <button class="uk-button uk-button-secondary uk-button-large uk-border-pill uk-width-1-2 "> <span
            class="uk-margin-small-right" uk-icon="icon: arrow-right; ratio: 0.8"></span>Learn more </button> </a>
    </div>


  </div>
</div>

<app-quote-order></app-quote-order>

<div class="uk-container uk-margin-large-bottom ">
  <div class="uk-text-center">
    <h1 class="title1"> Ready to deploy Compute + Storage & Network Solutions for Emerging Demands of the AI Industry
    </h1>
    <p class="card-text"> Combining owned infrastructure with high-value strategic partnerships, TelCablesEurope
      powered by AngolaCables delivers a distinct competitive edge that is rare in today’s market</p>

  </div>


  <div class=" uk-margin-medium-top uk-child-width-1-3@m" uk-grid>
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img src="https://marketing.host2africa.com//drive/tceu/ai-fabric-tceu.jpg" alt="Sovereign Telco Fabric"
            class="card-img">
        </div>
        <div class="uk-card-body card-bg ">
          <a routerLink="/product/sovereign_neutral_ai_fabric">
            <p class="title2 uk-margin-small-bottom" style="color: #022561">
              Sovereign AI Fabric
            </p>
            <span class="uk-icon-button" uk-icon="icon: arrow-right; ratio: 1.1"
              style="background-color: #022561; color: #fff; border: none;"></span>
          </a>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top">
          <img src="https://marketing.host2africa.com/drive/tceu/Platform-as-a-Service-SaaS.jpg"
            alt="Sovereign PaaS Fabric" class="card-img">
        </div>
        <div class="uk-card-body card-bg ">
          <a routerLink="/product/sovereign_paas_fabric">
            <p class="title2 uk-margin-small-bottom" style="color: #022561;">
              Sovereign PaaS Fabric
            </p>
            <span class="uk-icon-button" uk-icon="icon: arrow-right; ratio: 1.1"
              style="background-color: #022561; color: #fff; border: none;"></span>
          </a>
        </div>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-media-top ">
          <img src="https://marketing.host2africa.com/drive/tceu/telecom-hero.webp" alt="Sovereign Telco Fabric"
            class="card-img">
        </div>
        <div class="uk-card-body card-bg ">
          <a routerLink="product/sovereign_telco_fabric">
            <p class="title2 uk-margin-small-bottom" style="color: #022561;">
              Sovereign Telco Fabric
            </p>
            <span class="uk-icon-button" uk-icon="icon: arrow-right; ratio: 1.1"
              style="background-color: #022561; color: #fff; border: none;"></span>
          </a>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="uk-margin-large-top">

  <div class="uk-text-center uk-margin-large-top uk-container ">
    <h1 class="title1"> Why TelCables Europe?</h1>
  </div>

  <div class="uk-container  ">
    <div class="uk-margin-large-top uk-flex uk-flex-middle uk-child-width-1-2@m" uk-grid>

      <!-- LEFT SIDE (ACCORDION) -->
      <div class="uk-flex uk-flex-column uk-flex-center">
        <ul class="styled-accordion" uk-accordion="  multiple: false">

          <li class="uk-open accordion-card">
            <a class="uk-accordion-title accordion-header" href>
              <span>Submarine | Metro | Cloud | Data Center</span>
              <span class="uk-accordion-icon" uk-icon="icon: chevron-down"></span>
            </a>
            <div class="uk-accordion-content accordion-body">
              <p>We bridge continents through high-speed transoceanic submarine cable systems directly linked to dense
                metropolitan fiber rings. </p>
            </div>
          </li>

          <li class="accordion-card">
            <a class="uk-accordion-title accordion-header" href>
              <span> Neutral | Global | Carrier-Grade </span>
              <span class="uk-accordion-icon" uk-icon="icon: chevron-down"></span>
            </a>
            <div class="uk-accordion-content accordion-body">
              <p>Operating as an open-access network provider delivering mission-critical connectivity with 99.999%
                SLA
                uptime. </p>
            </div>
          </li>


          <li class="accordion-card">
            <a class="uk-accordion-title accordion-header" href>
              <span> Sovereign | Compliant | Certified </span>
              <span class="uk-accordion-icon" uk-icon="icon: chevron-down"></span>
            </a>
            <div class="uk-accordion-content accordion-body">
              <p>Engineered to satisfy strict local data residency requirements and international regulatory
                standards.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <!-- RIGHT SIDE (VIDEO THUMBNAIL) -->
      <div class="uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-text-center">
          <a href="#modal-video" uk-toggle class="video-thumbnail-wrapper uk-inline">
            <img style="border-radius: 20px; box-shadow: 0 10px 30px rgba(0, 160, 209, 0.25);"
              src="https://marketing.host2africa.com/drive/tceu/samuel_carvalho_telcables_europe_ceo.gif"
              alt="Video Thumbnail" class="uk-border-rounded">
          </a>

          <!-- MODAL -->
          <div id="modal-video" uk-modal>
            <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body uk-border-rounded">
              <button class="uk-modal-close-default" type="button" uk-close></button>

              <video controls loop muted id="promoVideo" class="promo-video uk-border-rounded" style="width: 100%;">
                <source src="https://marketing.host2africa.com/drive/tceu/vid/tceu_samuel_carvalho.mp4"
                  type="video/mp4" />
                Seu navegador não suporta o vídeo.
              </video>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class=" uk-container uk-margin-small-top uk-margin-large-bottom">
    <app-certificacoes></app-certificacoes>
    <app-parceiros></app-parceiros>

  </div>


</div>
<app-slideshow></app-slideshow>






<div class=" uk-container uk-margin-large-top uk-margin-large-bottom">
  <app-certificacoes></app-certificacoes>
  <app-parceiros></app-parceiros>

</div>

<div style="border-radius:20px" class="uk-container uk-padding uk-background-muted uk-margin-small-top section ">
  <!-- Main Grid Layout -->
  <div class="uk-grid" uk-grid>
    <!-- Left Column (Main Content - Events) -->
    <div class="uk-child-width-1-1@m">



      <div class=" uk-padding  ">
        <!-- Main Grid Layout -->
        <div class="uk-grid" uk-grid>
          <!-- Left Column (Main Content - Events) -->
          <div class="uk-width-2-3@m">

            <div class=" uk-margin-medium-bottom ">
              <h2 style="color: #022561;" class="uk-heading">{{'news.and' | translate}} <b> {{'media' |
                  translate}}</b>
              </h2>

            </div>
            <p>Find important stories on how TelCables is impacting the industry</p>

            <app-noticias-listar></app-noticias-listar>
          </div>

          <!-- Right Column (Aside Panel) -->
          <div class="uk-width-1-3@m">
            <div class="uk-card  ">
              <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-medium-bottom ">
                <h2 style="color: #022561;" class="uk-heading">{{'upcomming' | translate}} <b>{{'events' |
                    translate}}</b></h2>


              </div>
              <p></p>

              <app-eventos-listar></app-eventos-listar>

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Right Column (Aside Panel) -->

  </div>
</div>







<app-ad2></app-ad2>