<!-- Footer Section -->
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">

            <!-- Column 1: Logo and Social Media -->
            <div class="footer-column ">
                <ul class="footer-links">
                    <li>
                        <img class="footer-logo" src="/img/telcableseuropa-logotipo-azul.png"
                            alt="TelCables Cables Logo">
                    </li>
                    <li class="uk-margin-small-top"></li>

                    <li class=" uk-padding" style="color: #002561">
                        <b>Office:</b>
                        Rua da Alfândega, nº 64
                        Ilha da Madeira
                        <br>
                        <b>Postal Code:</b> 9000-059 Funchal
                    </li>

                </ul>
            </div>



            <!-- Column 3: About Us -->
            <div class="footer-column ">



                <!-- This is the modal -->



                <div id="remote-peering-modal" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                        <button class="uk-modal-close-default" type="button" uk-close></button>

                        <img src="img/remotepeering-map.png">
                    </div>
                </div>
                <ul class="footer-links uk-margin-small-top">
                    <li><b>Contact Us</b></li>
                    <li style="color: #002561"> Become a partner: <br>><b> partner&#64;telcables.pt </b></li>

                    <li style="color: #002561">Purchase products and services: <br>> <b> sales.eu<ng-content
                                select="[selector]"></ng-content>&#64;telcables.pt
                        </b></li>

                </ul>

            </div>




            <!-- Column 4: Offices -->
            <div class="footer-column">


                <ul class="footer-links">
                    <li class="uk-margin-small-top"><b>Terms and Conditions</b></li>
                    <li><a>> Privacy Policy</a> </li>
                    <li><a routerLink="/cookies-policy">> Cookies Policy</a> </li>
                    <li><a>> Terms and Conditions</a> </li>



                </ul>

                <ul class="footer-links">


                </ul>
            </div>

        </div>


    </div>
    <p style="color: #002561" class="uk-text-center">
        &copy; Copyright 2025.
        TelCables Europe
    </p>

</footer>