<div class="uk-position-relative">
  <nav class="uk-navbar-container">
    <div class="uk-container">
      <div
        uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container; delay-hide: 0; delay-show: 0"
      >
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-logo">
              <a href="#inicio" uk-scroll="offset: 100" class="texto">
                <img
                  class="uk-border-rounded"
                  style="height: auto; width: 180px"
                  src="/img/telcableseuropa-logotipo-azul.png"
                />
              </a>
            </li>
          </ul>

          <ul class="uk-navbar-nav uk-text-left uk-visible@m">
            <li>
              <a
                href="#"
                class="uk-navbar-toggle"
                uk-toggle="target: #products-dropdown"
                >Products</a
              >
              <div
                id="products-dropdown"
                class="uk-navbar-dropdown uk-navbar-dropdown-width-4"
                hidden
              >
                <div class="uk-drop-grid uk-child-width-1-4" uk-grid>
                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-padding-bottom-small uk-nav-header">
                        <a routerLink="/connectivity"
                          ><b
                            ><span
                              class="uk-margin-small-right"
                              uk-icon="world"
                            ></span>
                            CONNECTIVITY</b
                          ></a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="dia"
                          >Dedicated Internet Access</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="ip"
                          >IP Transit</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="metro"
                          >Metro Ethernet</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="gdc"
                          >Global <br />Data Center<br />
                          Interconnection</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="wave"
                          >Wavelength</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="acloud"
                          >AC Cloud</a
                        >
                      </li>
                      <li>
                        <a [routerLink]="['/connectivity']" fragment="peering"
                          >Remote Peering</a
                        >
                      </li>
                    </ul>
                  </div>

                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">
                        <a routerLink="/cloud">
                          <b
                            ><span
                              class="uk-margin-small-right"
                              uk-icon="cloud-upload"
                            ></span>
                            CLOUD
                          </b>
                        </a>
                      </li>
                      <li class="uk-active">
                        <a [routerLink]="['/cloud']" fragment="cloud"
                          >Clouds2Europe
                        </a>
                      </li>
                      <li class="uk-active">
                        <a [routerLink]="['/cloud']" fragment="backup"
                          >Backup2Europe (IaaS)
                        </a>
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/cloud']" fragment="storage"
                          >Storage as-a-Service
                        </a>
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/cloud']" fragment="kubernetes"
                          >Kubernetes
                        </a>
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/cloud']" fragment="vm">
                          VMWare Alternative
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">
                        <a routerLink="/data-center"
                          ><b
                            ><span
                              class="uk-margin-small-right"
                              uk-icon="server"
                            ></span>
                            DATA CENTER
                          </b>
                        </a>
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/data-center']" fragment="colocation"
                          >Colocation
                        </a>
                      </li>
                      <li class="uk-active">
                        <a [routerLink]="['/data-center']" fragment="cross"
                          >Cross Connect
                        </a>
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/data-center']" fragment="campus"
                          >Campus Connect
                        </a>
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/data-center']" fragment="remote"
                          >Remote Hands
                        </a>
                      </li>

                      <li class="uk-active">
                        <a
                          [routerLink]="['/data-center']"
                          fragment="professional"
                        >
                          Professional Services
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div>
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">
                        <a routerLink="/security"
                          ><b
                            ><span
                              class="uk-margin-small-right"
                              uk-icon="lock"
                            ></span>
                            SECURITY
                          </b></a
                        >
                      </li>

                      <li class="uk-active">
                        <a [routerLink]="['/security']" fragment="antiddos">
                          Anti-DDoS
                        </a>
                      </li>
                      <li class="uk-active">
                        <a [routerLink]="['/security']" fragment="firewall">
                          Firewall-as-a-Service
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <a routerLink="/solution">Solutions</a>
            </li>

            <li>
              <a href="https://clouds2europe.com/">Clouds2Europe</a>
            </li>

            <li>
              <a href="https://partners.angolacables.co.ao/">Partner Program</a>
            </li>

            <li>
              <a routerLink="/company" href="#">Company</a>
            </li>
          </ul>
        </div>

        <div class="uk-navbar-right uk-visible@m">
          <ul class="uk-navbar-nav">
            <li>
              <a routerLink="/service-contact" href="#"
                ><button
                  style="
                    background-color: #6fe0fc;
                    color: #002561;
                    border-radius: 40px;
                    padding: 5px 20px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                  "
                  class="uk-button botao-contacto"
                >
                  Contact Us
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Mobile Navigation (hidden on medium+ screens) -->
  <div class="uk-hidden@m">
    <nav class="uk-navbar-container">
      <div class="uk-container">
        <div uk-navbar>
          <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li>
                <a href="#inicio" uk-scroll="offset: 100" class="texto">
                  <img
                    class="uk-border-rounded"
                    style="height: auto; width: 100px"
                    src="/img/telcableseuropa-logotipo-azul.png"
                  />
                </a>
              </li>
            </ul>
          </div>

          <div style="margin-right: 2px" class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li>
                <div class="uk-container">
                  <div class="uk-navbar-left">
                    <a
                      class="uk-navbar-toggle"
                      uk-navbar-toggle-icon
                      href="#"
                      uk-toggle="target: #offcanvas-nav"
                    ></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Mobile Offcanvas Menu -->
  <div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-default uk-margin-medium-left">
        <li>
          <a href="#inicio" uk-scroll="offset: 100" class="texto">
            <img
              class="uk-border-rounded"
              style="height: auto; width: 250px"
              src="/img/telcableseuropa-logotipo-brancoeazul.png"
            />
          </a>
        </li>

        <li><a routerLink="/company">About Us</a></li>

        <li class="uk-parent uk-margin-top">
          <a
            style="color: #ffffff85 !important; font-weight: normal !important"
          >
            {{ "servicos" | translate }}
          </a>
          <ul class="uk-nav-sub">
            <li>
              <a routerLink="/connectivity">{{
                "connectivity.mobile" | translate
              }}</a>
            </li>
            <li>
              <a routerLink="/cloud">{{ "cloud.mobile" | translate }}</a>
            </li>
            <li>
              <a routerLink="/security">{{ "security.mobile" | translate }}</a>
            </li>
            <li>
              <a routerLink="/data-center">{{
                "menu-datacenter" | translate
              }}</a>
            </li>
          </ul>
        </li>

        <li class="uk-margin-medium-top">
          <a target="_blank" href="https://clouds2europe.com/">Cloud2Europe</a>
        </li>

        
            <li>
              <a routerLink="/solution">Solutions</a>
            </li>

        <li class="">
          <a target="_blank" href="https://lg.angolacables.co.ao/"
            >Network Looking Glass</a
          >
        </li>
        <li class="">
          <a target="_blank" href="https://partners.angolacables.co.ao/">{{
            "menu-parceiros" | translate
          }}</a>
        </li>

        <li class="uk-margin-top">
          <a routerLink="/service-contact">{{ "contato" | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Search Modal (shared across all screen sizes) -->

  <div id="search-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical pesquisa">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <form class="uk-search uk-search-medium">
        <span uk-search-icon></span>
        <input
          class="uk-search-input"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</div>
