<app-menu></app-menu>

<header class="fundo-cabecalho">
  <div class="conteudo-cabecalho uk-margin-medium-top">
    <div class="uk-container uk-padding">
      <img class="logo-cabecalho-pagina" src="img/layout/logo-cabecalho-pagina.png" alt="Logo">
      <h4 class="texto-subtitulo">{{ 'dashboard-welcome' | translate }}</h4>
      <h1 class="texto-titulo">{{ 'dashboard-titulo' | translate }}</h1>
    </div>
  </div>
</header>

<main class="uk-background-muted">
  <section id="servicos" class="uk-container uk-padding-large">
    <div class="uk-card uk-card-body uk-margin-bottom">
      <ul class="uk-subnav uk-subnav-pill uk-flex-center">
        <li [class.uk-active]="isTabActive('blog')">
          <a (click)="setActiveTab('blog')">{{ 'dashboard-blog' | translate }}</a>
        </li>
        <li [class.uk-active]="isTabActive('noticias')">
          <a (click)="setActiveTab('noticias')">{{ 'dashboard-noticias' | translate }}</a>
        </li>
        <li [class.uk-active]="isTabActive('empregos')">
          <a (click)="setActiveTab('empregos')">{{ 'dashboard-empregos' | translate }}</a>
        </li>
        <li [class.uk-active]="isTabActive('eventos')">
          <a (click)="setActiveTab('eventos')">{{ 'dashboard-eventos' | translate }}</a>
        </li>
        <li [class.uk-active]="isTabActive('paineis')">
          <a (click)="setActiveTab('paineis')">{{ 'dashboard-paineis' | translate }}</a>
        </li>
      </ul>
    </div>

    <!-- Blog Section -->
    <div *ngIf="isTabActive('blog')" class="uk-animation-fade">
      <div class="uk-card uk-card-body">
        <app-artigo-postar></app-artigo-postar>
        <h3 class="uk-heading-line uk-text-center uk-margin-medium-top">
          <span>Artigos publicados</span>
        </h3>
        <app-artigo-lista></app-artigo-lista>
      </div>
    </div>

    <!-- Notícias Section -->
    <div *ngIf="isTabActive('noticias')" class="uk-animation-fade">
      <div class="uk-card uk-card-body">
        <app-noticias-postar></app-noticias-postar>
        <h3 class="uk-heading-line uk-text-center uk-margin-medium-top">
          <span>Notícias publicadas</span>
        </h3>
        <app-noticias-listar></app-noticias-listar>
      </div>
    </div>

    <!-- Empregos Section -->
    <div *ngIf="isTabActive('empregos')" class="uk-animation-fade">
      <div class="uk-card uk-card-body">
        <app-vagas-criar></app-vagas-criar>
        <h3 class="uk-heading-line uk-text-center uk-margin-medium-top">
          <span>Vagas Abertas</span>
        </h3>
        <app-vagas-listar></app-vagas-listar>
      </div>
    </div>

    <!-- Eventos Section -->
    <div *ngIf="isTabActive('eventos')" class="uk-animation-fade">

      <ul class="uk-subnav uk-subnav-pill" uk-switcher>
        <li><a href="#">Eventos Normais </a></li>
        <li><a href="#">Eventos em Destaque</a></li>
      </ul>

      <div class="uk-switcher uk-margin">
        <div>
          <div class="uk-card uk-card-body">
            <app-eventos-postar></app-eventos-postar>
            <h3 class="uk-heading-line uk-text-center uk-margin-medium-top">
              <span>Eventos Publicados</span>
            </h3>
            <app-eventos-listar></app-eventos-listar>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-body">
            <app-eventos-s-postar></app-eventos-s-postar>
            <h3 class="uk-heading-line uk-text-center uk-margin-medium-top">
              <span>Eventos Destaque Publicados</span>
            </h3>
            <app-eventos-s-listar></app-eventos-s-listar>
          </div>
        </div>
      </div>






    </div>

    <!-- Painéis Section -->
    <div *ngIf="isTabActive('paineis')" class="uk-animation-fade">
      <div class="uk-card uk-card-body">
        <app-paineis-postar></app-paineis-postar>
        <h3 class="uk-heading-line uk-text-center uk-margin-medium-top">
          <span>Painéis publicados</span>
        </h3>
        <app-paineis-listar></app-paineis-listar>
      </div>
    </div>
  </section>
</main>

<app-rodape></app-rodape>