<div class=" bg uk-container uk-margin-large-top">
  <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-padding-large">
    <div class="uk-grid-large uk-flex-middle uk-child-width-1-2@m" uk-grid>

      <!-- Left Column: Text -->
      <div class="uk-text-left@m uk-text-center">
        <p class="tagline-certificacao uk-margin-remove" style="font-size: 2rem; line-height: 1.6;">
          We have the <span style="color: #00ffff; font-weight: 700;">23rd most interconnected</span> network in the
          world according to the CAIDA Rankings.
        </p>
<!-- 
        <div class="uk-grid uk-grid-small uk-child-width-1-2@s ">

          <a href="https://lg.angolacables.co.ao/"> <button
              class="uk-button uk-button-primary uk-button-large uk-border-rounded">Network Looking Glass</button> </a>

          <a href="https://asrank.caida.org/asns/37468"> <button
              class="uk-button uk-button-primary uk-button-large uk-border-rounded">CAIDA Ranks</button> </a>

        </div>-->
      </div>

      <!-- Right Column: Image -->
      <div class="uk-flex uk-flex-center uk-flex-middle">
        <img src="img/conectada-mundo.png" alt="CAIDA Ranking - Most Interconnected Network"
          style="max-width: 100%;  height: auto; max-height: 180px; object-fit: contain;">
      </div>

    </div>
  </div>
</div>

<div class="fundo-selos uk-container uk-margin-large-top uk-margin-small-bottom">

  <p style="font-weight: 600 ; text-align: center;"> Securing Your Trust Through Certified Quality</p>


  <div class="uk-flex uk-flex-center uk-flex-wrap ">
    <img style="height: 150px; display: block;" src="img/iso/iso1.png" alt="" />
    <img style="height: 150px; display: block;" src="img/iso/iso2.png" alt="" />
    <img style="height: 150px; display: block;" src="img/iso/iso3.png" alt="" />
    <img style="height: 150px; display: block;" src="img/iso/iso4.png" alt="" />
    <img style="height: 150px; display: block;" src="img/iso/iso5.png" alt="" />
    <img style="height: 150px; display: block;" src="img/iso/iso6.png" alt="" />
    <img style="height: 150px; display: block;" src="img/iso/iso7.png" alt="" />
  </div>
</div>