<div class="uk-position-relative uk-visible-toggle uk-light uk-margin-large-top uk-margin-large-bottom " tabindex="-1"
    uk-slider="center: true; autoplay: true; autoplay-interval: 4000; pause-on-hover: false; infinite: true">

    <div style="max-height: fit-content;" class=" uk-slider-items uk-grid uk-grid-small uk-grid-collapse@s">

        <div class="uk-width-3-4">

            

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>

                        
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <h1 style="font-weight: bolder; font-size: 2.5rem; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top ad-title ">
                                        <b>
                                            London–Lisbon Premium IP Transit

                                        </b>
                                    </h1>
                                                   <p style="font-weight:normal; color:white;">

                                        ✓ 95th Percentile Billing<br>

                                        ✓ Lower financial risk with a 15–30 day pilot port<br>

                                        ✓ Billing aligned with your actual traffic usage<br>

                                        ✓ Scale on demand without renegotiating contracts<br>

                                        ✓ Optimised connectivity to Africa and Brazil

                                    </p>


                                    <a href="https://clouds2europe.com/" target="_blank" class="">
                                        <button
                                            style="background-color: #00b7ff; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Start now</span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div class="uk-padding">
                                <img class="ad-image" src="/img/ip_transit_campaign_tceu.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


<div class="uk-width-3-4">

            

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>

                        
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <h1 style="font-weight: bolder; font-size: 2.5rem; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top ad-title ">
                                        <b>
                                            A Cloud Built For High Performance

                                        </b>
                                    </h1>
                                    <p style="font-weight: 600px;  color: white;"> > Virtual
                                        Infrastructure (IaaS) <br>
                                        > Storage-as-a-service
                                        <br> > Backup2Europe <br>
                                        > Kubernetes <br> > VMWare Alternative
                                    </p>

                                    <a href="https://clouds2europe.com/" target="_blank" class="">
                                        <button
                                            style="background-color: #00b7ff; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Start now</span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div class="uk-padding">
                                <img class="ad-image" src="/img/cloud2africamap2025.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <p style="color:white"></p>
                                    <h1 style="font-weight: bolder; font-size: 2.5rem; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top ad-title">
                                        <b>
                                            Cloud on-ramp without borders

                                        </b>
                                    </h1>
                                    <p style="font-weight: 600px;  color: white;"> 380+ Cloud-to-cloud global workloads
                                        - Turbocharged. Spin up a virtual router to handle traffic between tow or more
                                        cloud with super low latency.</p>

                                    <a routerLink="/contact" target="_blank" class="">
                                        <button
                                            style="background-color: #00b7ff; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Talk to an Expert </span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div class="uk-padding">
                                <img class="ad-image" src="/img/redewioccmapa2025.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <h1 style="font-weight: bolder; font-size: 2.5rem; color:#fff"
                                        class="uk-text-left uk-margin-small-bottom uk-margin-small-top ad-title">
                                        <b>
                                            Network-as-a-Service
                                        </b>
                                    </h1>
                                    <p style="font-weight: 600px;  color: white;"> > Data Center to Cloud <br>
                                        > Data Center Interconnect
                                        <br> > Cloud-to-Cloud
                                        > Virtual PoP <br> > Global WAN <br> Internet Exchange
                                    </p>


                                    <a routerLink="/contact" target="_blank" class="">
                                        <button
                                            style="background-color: #00b7ff; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Talk to an Expert</span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div>
                            <div class="uk-padding">
                                <img src="/img/telcable-naas.png" alt="" class="ad-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="uk-width-3-4">

            <div class="modern-gradient-bg uk-panel">
                <div class="">
                    <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle" uk-grid>
                        <!-- Card 1 -->
                        <div>
                            <div class="uk-text-left">
                                <div class="uk-padding uk-margin-large-left">
                                    <p style="color:white"></p>
                                    <h1 style="font-weight: bolder; font-size: 2.5rem; color:#fff"
                                        class="uk-text-left ad-title ">
                                        <b>
                                            Join Our Global Partners Program

                                        </b>
                                    </h1>
                                    <p style="font-weight: 600px;  color: white;">
                                        <b>> Finders</b>
                                        <br>
                                        <b> > Sales Agent </b>
                                        <br> <b> > Resellers </b>
                                        <br> <span class="uk-margin-small-top">Unlock new business opportunities to
                                            drive sucess and deliver value</span>
                                    </p>

                                    <a href="https://partners.angolacables.co.ao/" target="_blank" class="">
                                        <button
                                            style="background-color: #00b7ff; color: #fff; font-weight: 700; padding: 8px 40px;"
                                            class=" uk-button  uk-button-small uk-border-pill uk-padding uk-margin-small-top">
                                            <span class="uk-padding"> Join now</span> </button>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Card 2 -->
                        <div class="uk-padding">
                            <div class="uk-padding">
                                <img class="ad-image" src="/img/partnerprogram.png" alt=""
                                    style="border-radius: 30px; width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
        uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
        uk-slider-item="next"></a>

</div>